#=====================================================================================
# https://github.com/intxzt/lede-docker.git
# Description: Push OpenWrt to Docker Hub
# Instructions: https://github.com/docker/build-push-action
# Push to: https://hub.docker.com/
#=====================================================================================

name: Push OpenWrt to Docker Hub

on:
  repository_dispatch:
  workflow_dispatch:

env:
  DOCKER_OUTPATH: out

jobs:
  build:
    runs-on: ubuntu-22.04
    if: ${{ github.event.repository.owner.id }} == ${{ github.event.sender.id }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download OpenWrt rootfs file
        id: down
        run: |
          # Get OpenWrt file
          sudo -E apt-get -y install jq
          res="$(curl --header "authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -s "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/latest")"
          tag_name="$(echo $res | jq -r '.tag_name')"
          echo "build_tag=${tag_name}" >> ${GITHUB_OUTPUT}
          openwrt_url="$(echo $res | jq -r '.assets[0].browser_download_url')"
          [[ -z "${tag_name}" ]] && echo -e "OpenWrt release not found!" && exit 1
          [[ -z "${openwrt_url}" ]] && echo -e "OpenWrt file not found!" && exit 1
          rm -rf ${{ env.DOCKER_OUTPATH }} 2>/dev/null && mkdir -p ${{ env.DOCKER_OUTPATH }}
          wget -q ${openwrt_url} -O "${{ env.DOCKER_OUTPATH }}/openwrt-armvirt-64-default-rootfs.tar.gz"
          cp Dockerfile ${{ env.DOCKER_OUTPATH }}/ 

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        id: login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push to Docker Hub
        id: push
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/arm64
          context: ${{ env.DOCKER_OUTPATH }}
          tags: |
            xuzhengtong/openwrt-aarch64:latest
            xuzhengtong/openwrt-aarch64:${{ steps.down.outputs.build_tag }}

